body {
  margin: 0%;
  padding: 0%;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 10px;;
  width: 100%;
  height: 110px;
  background-color: rgb(248, 251, 255);
}

.iconleft {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: start;
  gap: 20px;
  padding: 0px 0px 0px 40px;
}

.iconright {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  gap: 20px;
}

.horizontal {
  display: flex;
  list-style: none;
  flex-direction: row;
  gap: 20px;
  align-content: center;
  align-items: center;
  justify-content: start;
}

.main {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  margin-top: 10px;
  background-color:  rgb(1, 17, 38);
  justify-items: stretch;
  align-items: stretch;

}

.item1 {
  height: 100%;
}

.item2 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#me {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#arrow {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 4em;
  font-weight: 1000;
  animation: down 2s linear infinite;
}
.container {
  display: flex;
  flex-direction: column;
  width: 99%;
  height: 100vh;
  margin: 10px;
  background-color:  rgb(236, 241, 253);
  gap: 20px;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  box-shadow: 0 4px 40px rgb(1, 17, 38);
  border-radius: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 40px rgb(1, 30, 71);
  width: 25%;
  height: 70%;
  align-content: center;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.lilcard {
  display: flex;
  flex-direction: row;
  box-shadow: 0 4px 40px rgb(1, 30, 71);
  width: 25%;
  height: 20%;
  gap: 20px;
  margin: 20px;
  align-content: center;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

h1 {
  font-family: 'Times New Roman', Times, serif;
  color: rgb(255, 255, 255);
  font-size: 3.5em;
  padding: 10px;
  text-align: center;
}

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  size: 100px;
  color: rgb(0, 29, 54);
  transition: all 0.3s;
}

h2:hover {
  transform: scale(1.15);
  padding: 20px;
}

h4 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(0, 5, 23);
  text-align: center;
  font-size: larger;
}

h5 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: larger;
}

p {
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0%;

}

a{
  text-decoration: none;
}

.tapes {
  display: flex;
  flex-direction: row;
  border: 3px;
  border-radius: 3px;
  gap: 10px;
}

.texttapes {
  display: flex;
  flex-direction: column;
}

.content { 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 95%;
  height: 100%;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  background-color: rgb(0, 5, 23);
  gap: 10px;
}

.iconNetworking {
  padding: 0px 20px 0px 20px;
  transition: all 0.3s;
}

.iconNetworking:hover {
  size: 20px;
  transform: scale(1.15);
}


@keyframes down {
  from {
    transform:   rotate(90deg) translateX(0);
  }
  to {
    transform: rotate(90deg) translateX(100px);
  }
}
